$breakpoint-tablet: 768px;
$breakpoint-mobile: 640px;
$breakpoint-desktop: 1024px;

html {
  scroll-behavior: smooth;
}
body {
  font-family: "Roboto", sans-serif;
  margin: 0;
  padding: 20px;
  background-color: #ff608b;
  transition: background-color 0.3s ease;
}
a {
  color: #251d20;
}
header,
footer {
  display: flex;
  justify-content: space-between;
  position: fixed;
  width: calc(100% - 40px);
}
header {
  img {
    width: 260px;
  }
  a {
    font-size: 18px;
    line-height: 25px;
    font-weight: 500;
    text-decoration: none;
    &:hover {
      text-decoration: underline;
    }
  }
}
footer {
  bottom: 20px;
  .cards-link {
    list-style: none;
    z-index: 30;
    order: 1;
    li {
      font-size: 18px;
      &:not(:first-child) {
        margin-top: 8px;
      }
      a {
        text-decoration: none;
        &:hover {
          text-decoration: underline;
        }
      }
      &.active {
        a {
          font-weight: 500;
        }
      }
    }
  }
}

.about-company {
  width: 310px;
  font-size: 18px;
  font-weight: 500;
  line-height: 25px;
  .copy-right {
    font-size: 12px;
    font-weight: normal;
    margin-top: 2px;
  }
  a {
    z-index: 30;
    &:hover {
      text-decoration: none;
    }
  }
}
main {
  width: 100%;
  height: calc(100vh - 40px);
  overflow-y: hidden;
  .wrapper-view {
    height: 100%;
    overflow-y: auto;
    scroll-snap-type: y mandatory;
    scroll-behavior: smooth;
    &::-webkit-scrollbar {
      background: transparent;
      width: 0;
    }
  }
  .cover {
    width: fit-content;
    display: flex;
    flex-direction: column;
    justify-content: center;
    height: 100%;
    margin: 0 auto;
    position: relative;
    z-index: 20;
    scroll-snap-align: center;
    scroll-snap-stop: always;
    img {
      width: 420px;
    }
  }
  .cover[data-bgcolor="#fff"] {
    a {
      color: #ff608b !important;
    }
  }
  .cover-info {
    display: flex;
    flex-direction: column;
    align-items: center;
    font-weight: 500;
    p {
      margin-top: 0;
    }
    a {
      text-decoration: none;
      color: #fff;
      font-weight: 500;
      &:hover {
        text-decoration: underline;
      }
    }
  }
  .orin {
    text-align: center;
    padding-top: 3px;
    line-height: 22px;
    font-size: 15px;
  }
}

@media only screen and (max-width: 992px) {
  header {
    position: static;
    a {
      display: none;
    }
  }
  main {
    height: calc(100vh - 80px);
  }
  footer {
    .cards-link {
      display: none;
    }
  }
  .about-company {
    scroll-snap-align: end;
    scroll-snap-stop: always;
    width: auto;
    text-align: center;
    font-size: 16px;
    max-width: 520px;
    margin: 0 auto;
  }
}
